##############################
## Folders                  ##
##############################
V1

History
__Previews
Project Outputs for MainBoard_V2
Project Outputs for DriveBoard_V2
Project Logs for MainBoard_V2
Project Logs for DriveBoard_V2

LIB/
!LIB/Pcb库.PcbLib
!LIB/Sch库.SchLib

*.Annotation
*.PrjPcbStructure
